.ql-toolbar {
    border: none !important;
    background-color: #777;

}

.ql-toolbar button {
    color: #4b5563 !important;
}

.ql-editor ol,
.ql-editor ul {
    padding-left: 0.3em !important;
    margin-left: 0 !important;
}