a {
    text-decoration: none;
    color: #33f;
}
.v-card a {
    color: #eee;
}
a:hover:not(.v-btn) {
    background: rgba(100, 100, 100, 0.2);
    border-radius: 3px;
    cursor: pointer;
}

html,
body {
    overflow-y: overlay !important;
    background-color: #1e1f22;
    min-height: 100%;
    scrollbar-color: grey #1e1f22;
    scrollbar-width: thin;
}

/* Fix meny width for firefox */
@supports (-moz-appearance:none) {
    .v-list {
        width: 130%;
    }
}

/*
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background: transparent;
}
::-webkit-scrollbar-track-piece {
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background: rgba(100, 100, 100, 0.2);
    border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
    background: rgba(100, 100, 100, 0.7);
}
*/

.v-theme--dark .v-overlay__scrim {
    background: black; /* #1e2022; */
    opacity: 0.8;
}
